body {
    margin: 0;
    font-family: "Times New Roman", Georgia, serif;
    background-color: #ebe4df;
    color: #000000;
    line-height: 1.7;
}

.navbar {
    background-color: #6b4f3f; 
    padding: 15px 40px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}


.dropdown {
    position: relative;
    padding-bottom: 12px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #6b4f3f;
    padding: 10px;
    margin-top: 0;
    list-style: none;
    z-index: 1000; 
}

.dropdown-menu li {
    margin-bottom: 8px;
}

.dropdown-menu a {
    font-weight: normal;
    color: #000000
}

/* Modification de cette partie pour que le menu reste visible tant qu'on laisse la souris dessus */
.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 50px 30px;
}

h1 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 50px;
    color: #000000
}

h2 {
    font-size: 1.4em;
    border-bottom: 2px solid #6b4f3f;
    padding-bottom: 5px;
    color:#000000
}

h3 {
    font-style: italic;
    margin-top: 5px;
    color :#000000
}

.definitions {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
}

.definitions article {
    background-color: #f5efe6;
    padding: 25px;
    border-radius: 6px;
    width: 33%;
}

.justification,
.hypotheses {
    background-color: #f5efe6;
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 40px;
}

/*Ajout de la partie qui prend en compte les tableaux */
 table {
    width: calc(100% - 2cm);      /* largeur quasi totale en laissant 1cm de marge à gauche/droite */
    margin: 0 auto 40px auto;     
    border-collapse: collapse; 
    background-color: #fff7f9;    
    font-size: 0.95em;
}

 th, td {
    border: 2px solid #000000; 
    padding: 10px; 
    text-align: left;
    min-width: 120px;             
}

 th {
    background-color: #6b4f3f;    
    font-weight: bold;
    color:#f5f5dc
}

 tr:nth-child(even) td {
    background-color: #f5f5dc;    /* beige clair pour les lignes paires */
}
/* Ajout du style pour la page à propos*/

.equipe {
    margin-bottom: 60px;
}

.membres-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
}

.membre {
    background-color: #f5efe6;
    border: 2px solid #6b4f3f;
    border-radius: 8px;
    width: 30%;
    padding: 25px;
    text-align: center;
}

.membre h3 {
    margin-bottom: 15px;
    font-style: normal;
}

.membre a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.membre a:hover {
    text-decoration: underline;
}

.conclusion {
    background-color: #f5efe6;
    padding: 30px;
    border-radius: 6px;
}

footer {
    text-align: center;
    background-color: #6b4f3f; 
    color: #ffffff;
    bottom: 0;
}

table td a {
    word-break: break-all;
    overflow-wrap: anywhere;
}
