body {
    margin: 0;
    font-family: "Times New Roman", Georgia, serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.7;
}

.navbar {
    background-color: #f6d6de; 
    padding: 15px 40px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}


.dropdown {
    position: relative;
    padding-bottom: 12px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #f0c1cd;
    padding: 10px;
    margin-top: 0;
    list-style: none;
    z-index: 1000; 
}

.dropdown-menu li {
    margin-bottom: 8px;
}

.dropdown-menu a {
    font-weight: normal;
}

/* Modification de cette partie pour que le menu reste visible tant qu'on laisse la souris dessus */
.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 50px 30px;
}

h1 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 50px;
}

h2 {
    font-size: 1.4em;
    border-bottom: 2px solid #f6d6de;
    padding-bottom: 5px;
}

h3 {
    font-style: italic;
    margin-top: 5px;
}

.definitions {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
}

.definitions article {
    background-color: #fff7f9;
    padding: 25px;
    border-radius: 6px;
    width: 33%;
}

.justification,
.hypotheses {
    background-color: #fff7f9;
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 40px;
}

/* =========================
   Ajout de la partie qui prend en compte les tableaux 
   ========================= */
main table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 40px;
    background-color: #fff7f9;
    font-size: 0.95em;
}

main th, main td {
    border: 2px solid #000000; 
    padding: 10px; 
    text-align: left;
}

main th {
    background-color: #f6d6de; 
    font-weight: bold;
}

main tr:nth-child(even) td {
    background-color: #ffeef2; 
}

main th, main td {
    min-width: 120px; 
}